
<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% if (user) { %>
            <% if ( menuList != '') {%>
                <% menuList.forEach(function(pizza, index) { %>
                    <div>
                        <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
                        <div class="w-full md:w-64">
            
                            <div  class="text-center">
                                <h2 class="mb-4 text-lg "><%= pizza.name %></h2>
                                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= pizza.size %></span>
                            </div>
                        
                            <div class="py-3 flex items-center justify-around">
                                <span class="font-bold text-lg">N <%=pizza.price %></span>
                                <button data-pizza="<%= JSON.stringify(pizza) %> " class="add-to-cart py-1 px-6 flex items-center text-bold">
                                    <span>+</span>
                                    <span class="ml-4"> Add</span>
                                </button>
                            </div> 
                        </div>
                    </div>
                <% }) %>
            <% }%>
        <% } else { %>
            <% if ( menuGuest != '') {%>
                <% menuGuest.forEach(function(pizza, index) { %>
                    <div>
                        <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
                        <div class="w-full md:w-64">
            
                            <div  class="text-center">
                                <h2 class="mb-4 text-lg "><%= pizza.name %></h2>
                                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= pizza.size %></span>
                            </div>
                        
                            <div class="py-3 flex items-center justify-around">
                                <span class="font-bold text-lg">N <%=pizza.price %></span>
                                <button data-pizza="<%= JSON.stringify(pizza) %> " class="add-to-cart py-1 px-6 flex items-center text-bold">
                                    <span>+</span>
                                    <span class="ml-4"> Add</span>
                                </button>
                            </div> 
                        </div>
                    </div>
                <% }) %>
            <% }%>
        <% } %>
    </div>
    
</section>